@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Roboto&display=swap');

.title {
    font-size: 3rem;
}

.entry {
    display: block;
    width: 80%;
    min-width: 550px;
    margin: 2% auto;
    box-sizing: border-box;
}

.description {
    height: 20rem;
    resize: none;
}

.error {
    color: red;
    font-size: 1.6rem;
}