@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Roboto&display=swap');

.item-container {
    width: 75%;
    margin: 0 auto;
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    border: 3px solid rgba(1,132,64);
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}

.item {
    width: 230px;
    height: 120px;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    background-color: rgba(1,132,64);
    color: white;
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 1%;;
}

.item:hover {
    box-shadow:  5px 5px black ;
    background-color: rgb(228,27,35);
}

.item-name {
    margin-top: 1%;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
}

.item-location {
    margin-top: 4%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
}

.item-price {
    font-size: 2rem;
}


